body {
    background-image: url(assets/dot-grid-texture.png);
    background-repeat: repeat;
    background-size: 40%;
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

p {
    font-size: 5vw;
    margin: 0;
}

button {
    margin-top: 2em;
}


/* images */
.gifs {
    max-width: 50%;
    height: auto;
}

#bowl-static {
    max-width: 30%;
}

/* divs */
#text-block {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#images-button {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

